<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>

	<appSettings>
		<add key="DBSelecionado" value="SqLite" />
	</appSettings>

	<connectionStrings>
		<add connectionString="Data Source=(LocalDb)\MSSqlLocalDB;Initial Catalog=DbControleTarefasTeste;Integrated Security=True;Pooling=False"
			 name="DBeAgenda" providerName="System.Data.SqlClient" />
		<!-- C:\\Users\\leozi\\source\\repos\\e-Agenda\\eAgenda.Database.SqLite\\asdasd.db  -->
		<!-- data source=C:\\Users\\leozi\\source\\repos\\e-Agenda\\eAgenda.Controladores\\bin\\DataBase\\asdasd.db;  -->
		<add connectionString="data source= ..\..\..\eAgenda.Database.SqLite\\asdasd.db;"
			 name="asdasd" providerName="System.Data.SQLite" />
	</connectionStrings>
  
</configuration>